.ReactRouterMenu{
    text-align: center;
}
.ReactRouterMenu__nav{
    margin: 20px auto;
    border: 2px solid black;
    background-color: #b3b7bb;
    width: 60%;
}
.ReactRouterMenu__ul{
    display: flex;
    justify-content: center;
    padding: 0;
}
.ReactRouterMenu__li{
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    margin: 0 10px 0 10px;

}

.ReactRouterMenu__ul:first-child{
    margin-left: 0;
}
.ReactRouterMenu__ul:last-child{
    margin-right: 0;
}
.ReactRouterMenu__li a{
    text-decoration: none;
    list-style: none;
    outline: none;
    color: #007bff;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}